/* import css style from other platforms (ios and android)                                  */
/********************************************************************************************/
@import url("~/platform.css");

/********************************************************************************************/

/* css the first page for login and signup entries on the page                              */
/********************************************************************************************/
Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}

/********************************************************************************************/

/* css to display list of groceries in a ListView                                           */
/********************************************************************************************/
.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}

ActionBar {
  background-color: black;
  color: white;
}